#cart_list {
    padding: 2em 5em;
}

#cart_list h2 {
    font-size: 2em;
    margin-bottom: 1em;
}


#cart_list .container {
    gap: 1em;
    align-items: center;
    padding: 1em 1.5em;
    font-weight: bolder;
    margin-bottom: 1em;
    box-shadow: 5px 4px 10px grey;
}

#cart_list .container p:not(#cart_list .container_delete, #cart_list .container_price) {
    font-size: 1.1em;
}

#cart_list .container img {
    width: 15em;
    border-radius: 7px;
    max-height: 12em;
}

#cart_list .container_name {
    padding-bottom: 0.5em;
}

#cart_list .container_price {
    margin: auto 0.8em;
    font-size: 1.4em;
}

#cart_list .container_delete {
    color: red;
    font-size: 2.5em;
    font-weight: bold;
}

#cart_list .container_delete:hover {
    cursor: pointer;
    color: orangered;
}

.cart_qnt_arrows {
    display: flex;
    align-items: center;
}

.cart_qnt_arrows *:hover {
    filter: brightness(130%);
    cursor: pointer;
}


#cart_list input {
    font-size: 1.1em;
}



/*  Quantity input  */


.input-number {
    width: 60px;
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
    height: 40px;
    user-select: none;
}

.input-number-decrement,
.input-number-increment {
    display: inline-block;
    width: 30px;
    line-height: 38px;
    background: var(--title_color);
    color: white;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
}

.input-number-decrement {
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.input-number-increment {
    border-left: none;
    border-radius: 0 4px 4px 0;
}