#delivery_container {
    margin: 2em;
    padding: 2em 1em;

}


#delivery_container>h2 {
    margin-bottom: 0.5em;
}


.delivery_item_bold {
    font-weight: 600;
}

.delivery_list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
}


.delivery_item {
    box-sizing: border-box;
    background: white;
    border-radius: 0.3em;
    padding: 1em;
    box-shadow: 5px 5px 10px grey;
    width: 45%;
    min-width: 20em;
}

.delivery_item p {
    font-size: 1.2em;
    margin: 0.5em;
}

.delivery_item div {
    border-bottom: 1px solid lightgray;
}

.delivery_item a {
    display: block;
    margin-top: 1em;
    text-align: center;
}

.delivery_item h3 {
    margin-top: 0.5em;
    margin-bottom: 0.8em;
}


#goback_delivery {
    margin: auto;
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    width: 10em;
}


@media (max-width:50em) {
    .delivery_item {
        width: 90%;
    }
}