.kanban {
	display: flex;
	padding: 3em;
	width: 1fr;
	margin: 0.6em 1em;
	background: var(--bg_color);
	border-radius: 7px;
	box-shadow: 5px 5px 20px grey;
}

.kanbanH1{
	display: flex;
	justify-content: center;
	margin: 0.6em auto;
}

.kanban * {
	font-family: var(--header_font);
}

.kanban__column {
	flex: 1;
}

.kanban__column:not(:last-child) {
	margin-right: 3em;
}

.kanban__column-title {
	margin-bottom: 0.5em;
	font-size: 2.2em;
	color: var(--title_color);
	user-select: text;
}

.kanban__item-input h4{
	border-bottom: 2px solid grey;
}

.kanban__item-input {
	box-sizing: border-box;
	background: white;
	border-radius: 0.3em;
	cursor: grab;
	margin: 1em auto;
	padding: 1em;
}

.kanban__item-input p:nth-child(2n+2) {
	margin: 0.5em auto;
	color: var(--title_color);
	font-weight: bold;
}

.kanban__item-input p:nth-child(2n+1){
	border-bottom: 2px solid lightgray;
}


.kanban__dropzone {
	height: 1.5em;
	transition: all 0.15s, height 0.15s;
	background: rgba(0, 0, 0, 0.1);
}

.kanban__dropzone--active {
	height: 2em;
	background: rgba(0, 0, 0, 0.25);
}