#plate_page {
    margin: 2em auto;
    padding-top: 3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: 90%;
    max-width: 50em;
}

#plate_left {
    box-shadow: 2px 2px 10px grey;
    grid-area: plate;
    padding: 1em;
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#plate_page h3 {
    color: var(--accent_color);
    display: inline-block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#plate_left * {
    margin: 0.5em;
}

#plate_left p {
    font-weight: bolder;
    font-size: 1.6em;
    color: var(--title_color);
}

#plate_right {
    box-shadow: 2px 2px 10px grey;
    background-color: white;
    border-radius: 7px;
    grid-area: ingredients;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

#plate_page form {
    grid-area: buy;
    margin: auto;
}

#plate_page form + a {
    grid-area: fav;
    margin: auto;
}

#plate_restaurant {
    grid-area: link;
    grid-column: 1/span 3;
    text-align: center;
    width: 100%;
}

#plate_page img {
    width: 13em;
    max-height: 10em;
    border-radius: 7px;
}



#ingredients_list {
    display: flex;
    font-size: 1.4em;
    margin: 1em auto;

}


#ingredients_list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

#ingredients_list li {
    flex-basis: 45%;
}


#plate_restaurant {
    color: var(--title_color);
}



#plate_description {
    grid-area: description;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 7fr 2fr;
    grid-template-areas: "header ."
        "text types";
}


#plate_description p {
    text-align: justify;
    grid-area: text;
    padding-top: 1em;
    padding-right: 2em;
    font-size: 1.3em;
}

#plate_description div {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    grid-area: types;
}


#plate_description div * {
    padding: 0.5em;
    margin: 0.4em;
    font-weight: bold;
    text-align: center;
    color: var(--text_color);
    background-color: var(--light_color);
    box-shadow: 1.5px 1.5px 5px grey;
}