/* Nav Bar  */

@media (max-width:70em) {
    #navbar .hamburger {
        display: block;
        background-color: var(--bg_color);
        color: var(--title_color);
        font-size: 1.8em;
        font-weight: bolder;
        padding: 0.5em;
    }

    #navbar .hamburger:before {
        content: '\2630';
    }

    #navbar ul {
        flex-direction: column;
    }

    #hamburger:checked+.hamburger+ul li {
        max-height: 1em;
        padding: 1em;
        opacity: 1;
    }

    #hamburger:checked+.hamburger:before {
        content: '\2715';
    }

    #navbar li {
        max-height: 0;
        padding: 0 1em;
        background-color: var(--bg_color);
        text-align: left;
        opacity: 0;
        transition: all .1s ease-in-out;
    }

    #navbar li:nth-child(2n+1) {
        border-top: none;
        border-left: 10px solid var(--accent_color);
    }

    #navbar li:nth-child(2n) {
        border-top: none;
        border-left: 10px solid var(--text_color);
    }

}


/*  Cart Page  */

@media (min-width:40em) {

    #cart_list .container {
        display: grid;
        grid-template-rows: 1fr 5fr;
        grid-template-columns: 4fr 2fr 1.5fr 2.5fr 1fr;
    }

    #cart_list .container_name {
        grid-row: 1;
    }

    #cart_list .container_delete {
        grid-column: 5;
    }

    #cart_list *:not(.container_name) {
        grid-row: 2;
    }
}

@media (max-width:50em) {
    #cart_list .container {
        display: flex;
        flex-direction: column;
    }
}


/*  Register Page  */

@media (min-width:50em) {
    section#register .left_login {
        float: left;
    }

    section#register .right_login {
        float: right;
    }
}


/*  Plate Page  */

@media (min-width:55em) {
    #plate_page {
        padding-bottom: 7em;
        display: grid;
        grid-template-rows: 4em 20em 2em 2em 5em;
        grid-template-columns: 5fr 2.5fr 5fr;
        grid-template-areas: "title . ."
            "plate ingredients ingredients"
            ". . ."
            ". link ."
            " description description description";
    }

    #plate_right {
        margin-left: 2em;
    }
}

@media (max-width:55em) {
    #plate_page {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        align-items: center;
        padding-bottom: 2em;
    }

    #plate_right {
        padding: 2em 10em;

    }
}


/*  Search Section  */

@media (max-width:50em) {
    .search_box {
        display: flex;
        flex-direction: column;
    }

    .search_box input:last-child {
        margin: auto;
        margin-top: 1em;
        width: 60%;
    }
}