/* Nav Bar  */

@media (max-width:70em) {
    #navbar .hamburger {
        display: block;
        background-color: var(--bg_color);
        color: var(--title_color);
        font-size: 1.8em;
        font-weight: bolder;
        padding: 0.5em;
    }

    #navbar .hamburger:before {
        content: '\2630';
    }

    #navbar ul {
        flex-direction: column;
    }

    #hamburger:checked+.hamburger+ul li {
        max-height: 1em;
        padding: 1em;
        opacity: 1;
    }

    #hamburger:checked+.hamburger:before {
        content: '\2715';
    }

    #navbar li {
        max-height: 0;
        padding: 0 1em;
        background-color: var(--bg_color);
        text-align: left;
        opacity: 0;
        transition: all .1s ease-in-out;
    }

    #navbar li:nth-child(2n+1) {
        border-top: none;
        border-left: 10px solid var(--accent_color);
    }

    #navbar li:nth-child(2n) {
        border-top: none;
        border-left: 10px solid var(--text_color);
    }

}


/*  Cart Page  */

@media (min-width:40em) {

    #cart_list .container {
        display: grid;
        grid-template-rows: 1fr 5fr;
        grid-template-columns: 4fr 2fr 1.5fr 2.5fr 1fr;
    }

    #cart_list .container_name {
        grid-row: 1;
    }

    #cart_list .container_delete {
        grid-column: 5;
    }

    #cart_list *:not(.container_name) {
        grid-row: 2;
    }
}

@media (max-width:50em) {
    #cart_list .container {
        display: flex;
        flex-direction: column;
    }
}


/*  Register Page  */

@media (min-width:50em) {
    section#register .left_login {
        float: left;
    }

    section#register .right_login {
        float: right;
    }
}


/*  Plate Page  */

@media (min-width:55em) {
    #plate_page {
        padding-bottom: 6em;
        display: grid;
        grid-template-rows: 4em 20em 2em 3em 2em 2em 5em;
        grid-template-columns: 5fr 2.5fr 5fr;
        grid-template-areas: "title edit ."
            "plate ingredients ingredients"
            ". . ."
            ". buy ."
            ". . ."
            ". fav ."
            ". . ."
            ". link ."
            " description description description";
    }

    #plate_right {
        margin-left: 2em;
    }
}

@media (max-width:55em) {
    #plate_page {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        align-items: center;
        padding-bottom: 2em;
    }

    #plate_right {
        padding: 2em 10em;

    }
}


/*  Search Section  */

@media (max-width:50em) {
    .search_box {
        display: flex;
        flex-direction: column;
    }

    .search_box input:last-child {
        margin: auto;
        margin-top: 1em;
        width: 60%;
    }
}

/*  Rest Review Section  */

@media (max-width:43em) {

    #reviews .rest_review {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 2em;
    }

    #reviews .rest_review div:last-child {
        gap: 1em;
        align-items: center;
    }

    #reviews .review_score {
        font-size: 1.8em;
    }

    #reviews .rest_review img {
        width: 50%;
        max-width: 15em;
    }

    div.response_form textarea {
        width: 90%;
    }

}


/*  Rest Description Section  */

@media (max-width:50em) {

    section#description {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #description>div#rest_links {
        flex-direction: column;
    }

    section#description img {
        margin-left: 0;
    }
}


/*  Rest Presentation Section  */

@media (max-width:50em) {

    section#presentation {
        padding: 2em 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    section#presentation>div:nth-child(1) {
        align-self: flex-start;
    }
}

@media (max-width:36em) {
    div.img_carrosel .card_item {
        width: 90%;
        min-width: 25em;
        height: 10em;
    }

    div.card_item>* {
        flex-direction: row;
    }

    div.card_item>* img {
        max-width: 7em;
        max-height: 7em;
        margin-right: 1em;
    }

    div.card_item:hover {
        transform: none;
    }
}