/*  Presentation  */

#presentation {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em 2em;
    align-items: center;
    justify-items: center;
    font-size: 1.5em;
}

#presentation>div:nth-child(1) h1 {
    margin-bottom: 0.6em;
}

#presentation>div:nth-child(1) a {
    color: var(--accent_color);
    font-weight: bolder;
}

#presentation>div:nth-child(2) {
    text-align: center;
    font-weight: bolder;
}


#presentation>div:nth-child(2) p {
    font-size: 2em;
    margin-bottom: 0.5em;
}


/*  Description  */

#description {
    margin: 1em auto 2em;
    width: 90%;
    max-width: 40em;
    padding: 1.5em 3em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 1.2em;
}

#description img {
    margin-left: 2em;
    margin-top: 1em;
    width: 15em;
    max-height: 15em;
    border-radius: 7px;
}

#description p {
    text-align: justify;
    margin-top: 1em;
    font-size: 1.1em;
    background-color: white;
    padding: 0.7em;
    border-radius: 7px;
}

#description>div#rest_links {
    grid-column: 1 / span 4;
    display: flex;
    gap: 0.8em;
    margin-top: 1em;
}

#description>div>a {
    display: flex;
    width: 10em;
    margin: auto 0.6em;
    justify-content: center;
}


/*  Share Experience  */

#share_exp {
    margin-top: 1.5em;
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}


#share_exp p {
    font-weight: bolder;
    font-size: 1.5em;
    margin-right: 1em;
}

#share_exp a {
    padding: 0.8em 2em;
    margin-left: 1em;
}


/*  Reviews */

#reviews {
    margin: 3em 1em;
}

#reviews h2 {
    margin-bottom: 0.8em;
}

.rest_review {
    margin: auto;
    max-width: 35em;
    padding: 1.5em;
    font-size: 1.2em;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.rest_review .review_header {
    display: flex;
    justify-content: space-between;
}

.rest_review p {
    text-align: justify;
}

.rest_review .review_text {
    background-color: white;
    padding: 0.8em;
    border-radius: 7px;
    box-shadow: 1px 1px 10px grey;
}

.rest_review .review_name {
    font-weight: bolder;
    margin-bottom: 1em;
}

.rest_review div:last-child {
    width: 90%;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

.rest_review img {
    width: 100%;
    margin-bottom: 0.6em;
    border-radius: 7px;
    box-shadow: 1px 1px 10px grey;
}

.rest_review .review_score {
    margin: auto;
    font-weight: bolder;
    font-size: 1.5em;
}


/* Response from Owner */

textarea[id="owner_response"] {
    width: auto;
    height: 1.5em;
}

.response_form{
    margin-top: 0.5em;
}

.response_form button.respond_button {
    width: 5em;
}

.response_text {
    margin-top: 1em;
    overflow-wrap: break-word;
    max-width: 25em;
}
