@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

/*  Setting variables  */

:root {
    --accent_color: #4a954b;
    --light_color: #c1d5b2;
    --bg_color: #d6c790;
    --light_bg_color: #faebd7;
    --title_color: #6d4c3d;
    --text_color: #403d39;

    --logo_font: 'Krona One', sans-serif;
    --header_font: 'Iceberg', cursive;
    --text_font: Tahoma, Verdana, sans-serif;


}


/*  Setting the basics  */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-color: var(--light_bg_color);
}

body {
    width: 100%;
    max-width: 70em;
    margin: 0 auto;
    box-shadow: 2px 2px 20px grey;
    background-color: white;
}



/*  Setting fonts  */

p, a {
    color: var(--text_color);
    font-family: var(--text_font);
    text-decoration: none;
    transition: 0.2s ease-out;
}

a:hover {
    filter: brightness(120%);
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title_color);
    font-family: var(--header_font);
}

span.bold {
    font-weight: bolder;
}


/*  Header  */

header {
    display: grid;
    background-color: var(--light_color);
    grid-template-columns: 0.5fr 9fr 1fr auto auto;
    grid-template-areas: "logo""name""search""cart""avatar";
    padding: 1em;
    align-items: center;
}


header>h1 a {
    margin-left: 0.3em;
    font-family: var(--header_font);
}

header>h1 a:visited {
    color: var(--title_color);
}

header a.link_button {
    padding: 0.7em 1em;
    margin-left: 1em;
}

header #header_avatar {
    grid-column: "avatar";
}

header #header_avatar>img {
    width: 60px;
    height: 60px;
    padding-top: 0.2em;
    border-radius: 100%;
    margin-right: 1em;
}


header a#header_cart {
    font-weight: bolder;
    font-size: 2.5em;
    margin: 0em;
    margin-right: 0.8em;
    padding: 0;
}

header a#header_search {
    font-weight: bolder;
    font-size: 2.5em;
}

/*  Nav bar  */

#navbar {
    border-top: 0.2em solid var(--title_color);
}

#navbar li {
    background-color: var(--bg_color);
    text-align: center;
    list-style-type: none;
    padding: 1em 0;
    font-weight: bold;
    transition: 0.2s ease-out;
}

#navbar li a {
    color: var(--text_color);
    font-family: var(--text_font);
}

#navbar li:hover {
    filter: brightness(120%);
    cursor: pointer;
}

#hamburger, .hamburger {
    display: none;
}

#navbar ul {
    display: flex;
    flex-direction: row;
}

#navbar li {
    display: block;
    flex: 1;
}

/*  Session Messages    */

#session_messages>* {
    width: 100%;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bolder;
}

#session_messages p{
    padding: 0.5em;
}

section#session_messages .erro {
    background-color: indianred;
}

section#session_messages .sucesso {
    background-color: var(--accent_color);
}

section#session_messages .info {
    background-color: lightblue;
}

section#session_messages :not(.info) p {
    color: white;
}

section#session_messages .info p {
    color: var(--text_color);
}



/*  Search Section */

.search {
    display: grid;
    height: 25em;
    background-image: url("../docs/pizza.jpg");
}

.search_box {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    margin: auto;
    padding: 2em;
    width: 70%;
    max-width: 35em;
}

.search_box input[type="search"] {
    grid-column: 1;
    padding: 1.2em 1em;
    border-radius: 7px;
    border-width: 0;
    margin-top: 0.8em;
    box-shadow: 1px 1px 5px grey;
}


.search_box input[type="submit"] {
    margin-top: 0.8em;
    grid-column: 2;
    margin-left: 2em;
    max-width: 15em;
}


/*  Footer  */

footer {
    padding: 0.8em;
    text-align: center;
    background-color: var(--light_color);
}

footer>p {
    font-family: var(--logo_font);
    color: var(--title_color)
}





/*  Custom Class Templates   */

.container {
    padding: 2em;
    background-color: var(--bg_color);
    box-shadow: 5px 5px 20px grey;
    border-radius: 7px;
}


.link_button {
    box-shadow: 0.5px 0.5px 10px #333;
    font-size: 0.7em;
    padding: 1em 2em;
    background-color: var(--accent_color);
    border-radius: 7px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    border-width: 0;
    transition: 0.2s ease-out;
}

.link_button:hover {
    cursor: pointer;
    filter: brightness(120%);
}