#user_info {
    padding: 0.8em;
    background-image: url("../docs/pizza.jpg");
}

#user_info h2 {
    margin-bottom: 0.5em;
}

#user_info #info_display h3 {
    margin-top: 0.4em;
    margin-bottom: 1.2em;
    font-size: 1.4em;
}

#user_info #info_display p {
    color: var(--text_color);
    font-size: 1.2em;
    margin-top: 0.3em;
}

#user_info #info_display {
    margin: 1em auto 1em auto;
    text-align: center;
    color: var(--text_color);
}

#user_info>section {
    margin: 1em auto;
    width: 80%;
    max-width: 25em;
}

#user_info a {
    padding: 0.5em 3.2em;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bolder;
    font-size: 1em;
    box-shadow: 1.5px 1.5px 5px black;
}

#user_info a#edit_account {
    margin: 3em 0 0 0;
    background-color: var(--title_color);
}

#user_info a#logout {
    margin: 1.5em 0 0 0;
    background-color: var(--title_color);
}

#user_info a:not(#edit_account, #logout) {
    margin: 1.5em 0 0 0;
    background-color: var(--accent_color);
}